.main_section {

}
.rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin: 30px 20px;
    justify-items: center;
}
.room {
    width: 300px;
    height: 200px;
    background: bisque;

}
.room__container {
    padding: 30px 20px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}