.chat {
    display: flex;
    justify-content: center;
    margin: 30px 20px;
}
.chat__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 980px;
    height: 600px;
    background: blanchedalmond;
    border: 1px solid black;
    border-radius: 20px;
}
.chat__messages {
    width: 90%;
    height: 420px;
    background: aliceblue;
    overflow: scroll;
}
.chat__form {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat__form > textarea {
    width: 85%;
    padding: 10px 15px;
    box-sizing: border-box;
    max-height: 150px;

}
.chat__message {
    margin: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.chat__message__name {
    font-size: 12px;
    color: blue;
    margin-bottom: 5px;
}
.chat__message__text {
    margin-left: 20px;
}
.chat__message__date {
    font-size: 12px;
    color: dimgrey;
}