.header {
    width: 100%;
    height: 100px;
    background: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 80px;
    margin-left: 20px;
}
.header > p {
    font-size: 36px;
}
.header__button {
    margin-right: 45px;
}