.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 55;
    background: rgba(0,0,0,0.5);
    pointer-events: auto;
}
.modal__container {
    position: relative;
    width: 800px;
    height: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: bisque;
    padding: 25px 30px;
    box-sizing: border-box;
}
.modal__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    color: #1f1f1f;
    font-size: 22px;
}
.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.modal__header > img{
    width: 50px;
}
.modal__header > img:active {
    transform: scale(1.1);
}
.modal__header > p {
    font-size: 32px;
    margin-left: 100px;
}
.modal__body {
    border: #d49d7a 1px solid;
    border-radius: 15px;
    padding: 20px 15px;
    box-sizing: border-box;
}
.modal__form > input {
    width: 400px;
    height: 35px;
    background: blanchedalmond;
    border: #d49d7a 1px solid;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
    box-sizing: border-box;
}
.modal__form > input:focus {
    border: #a74405 1px solid;
}
.modal__form > select {
    width: 400px;
    height: 35px;
    background: blanchedalmond;
    border: #d49d7a 1px solid;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
}
.modal__button {
    margin-top: 40px;
    width: 130px;
    height: 45px;
    background: #a74405;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    position: absolute;
    left: 70%;
    outline: none;
}
.modal__button:active {
    background: #542202;
}

